{% extends 'base.html' %}

<!-- Block Title -->
{% block title %} Candidate {% endblock title %}

<!--Navbar-->
{% block navbar %}
  {% if candidate.gender == 'F' %}
    bg-danger
  {% else %}
    bg-primary
  {% endif %}
{% endblock navbar %}

<!--Navbar Content-->
{% block nav-content %}
<i class="fas {% if candidate.gender == 'F' %} fa-famale {% else %} fa-male {% endif %} f-size"></i>
&nbsp;&nbsp; {{candidate.firstname}} {{candidate.lastname}}
{% endblock nav-content %}

<!--Buttons denied here-->
{% block buttons %} 
<a href="{% url 'backend' %}" class="btn btn-secondary mt-4 mb-2 my-btn">Back</a>
{% endblock buttons %}

<!-- Page Content -->
{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h6 class="mb-3">Candidate : {{ candidate.id }}</h6>
    <a class="btn {% if candidate.gender == 'F' %} btn-danger {% else %} btn-primary {% endif %} btn-sm border-light" href="{{candidate.file.url}}" style="width: 150px;">Download CV</a>
  </div>
  <hr>
  <div class="float-end">
    <img src="{{candidate.image.url}}" class="img-fluid img-thumbnail" width="150" height="150">
    <div class="text-center mt-2" style="font-size: 14px;">{{ candidate.birth|timesince }} old</div>
  </div>
  <!--Personal-->
  <h6 class="text-primary mb-4 mt-4">Personal</h6>
  {% if candidate.job == 'FR-22' %}
    <p><strong>Ocuppation:</strong>Frontend</p>
  {% elif candidate.job == 'BA-10' %}
    <p><strong>Ocuppation:</strong>Backend</p>
  {% else %}
    <p><strong>Ocuppation:</strong>Fullstack</p>
  {% endif %}

  <p><strong>Gender:</strong>{{candidate.gender}}</p>
  <p><strong>Phone:</strong>{{candidate.phone}}</p>
  <p><strong>Email:</strong>{{candidate.email}}</p>
  <p><strong>Birth Date:</strong>{{candidate.birth}}</p>
  <p><strong>Personality:</strong>{{candidate.personality}}</p>
  <!--Smoker Statement-->
  {% if candidate.smoker == '1' %}
    <p><strong>Smoker: </strong>Yes</p>
  {% else %}
    <p><strong>Smoker: </strong>No</p>
  {% endif %}

  <!--Experience Statement-->
  {% if candidate.experience == True %}
    <p><strong>Experience: </strong>Yes</p>
  {% else %}
    <p><strong>Experience: </strong><span class="text-danger">No</span></p>
  {% endif %}

  <p><strong>Salary Expetation:</strong>{{candidate.salary}}</p>
  <p><strong>Presentation:</strong>{{candidate.message}}</p>
  <hr>
    <!--Skills-->
    <h6 class="text-primary mb-4 mt-4">Personal</h6>
    <p><strong>Frameworks:</strong>{{candidate.frameworks}}</p>
    <p><strong>Languages:</strong>{{candidate.languages}}</p>
    <p><strong>Databases:</strong>{{candidate.databases}}</p>
    <p><strong>Libraries:</strong>{{candidate.libraries}}</p>
    <p><strong>Mobile:</strong>{{candidate.mobile}}</p>
    <p><strong>Others:</strong>{{candidate.others}}</p>
    <hr>
    <!--Education-->
    <h6 class="text-primary mb-4 mt-4">Education</h6>
    <p><strong>Institution:</strong>{{candidate.institution}}</p>
    <p><strong>Course:</strong>{{candidate.course}}</p>
    <p><strong>Started:</strong>{{candidate.started_course}}</p>
    <p><strong>Finished:</strong>{{candidate.finished_course}}</p>
    <p><strong>Status: </strong>
    {% if candidate.status_course == 'I took a break' %}
      <span class="text-danger">{{ candidate.status_course }}</span>
    {% else %}
      {{ candidate.status_course }}
    {% endif %}
    </p>
    <p><strong>About: </strong>{{candidate.about_course}}</p>
    <hr>
    <!--Professional-->
    <h6 class="text-primary mb-4 mt-4">Professional</h6>
    <p><strong>Company:</strong>{{candidate.institution}}</p>
    <p><strong>Position:</strong>{{candidate.position}}</p>
    <p><strong>Started:</strong>{{candidate.started_job}}</p>
    <p><strong>Finished:</strong>{{candidate.finished_job}}</p>
    <p><strong>About:</strong>{{candidate.about_job}}</p>
    <hr>
    <!--Note-->
    <h6 class="text-primary mb-4 mt-4">Note</h6>
    <!--Employed-->
    {% if candidate.employed == True %}
      <p><strong>Employed: </strong>Yes</p>
    {% else %}
      <p><strong>Employed: </strong><span class="text-primary">No</span></p>
    {% endif %}
    <!--Remotly-->
    {% if candidate.remote == True %}
      <p><strong>Accept to work remotly: </strong><span class="text-primary">Yes</span></p>
    {% else %}
      <p><strong>Accept to work Remotly: </strong>No</p>
    {% endif %}
    <!--Avaliable-->
    {% if candidate.travel == True %}
      <p><strong>Available to Travel: </strong>Yes</p>
    {% else %}
      <p><strong>Available to Travel: </strong>No</p>
    {% endif %}
    <hr>
    <a href="{% url 'backend' %}" class="btn btn-secondary mt-3 mb-3"> All Candidates</a>

</div> <br><br><br>
{% endblock content %}