{% extends 'base.html' %}

<!--Page Content-->
{% block content %}
<div class="container card p-3 border-dark text-center mt-5" style="width: 35%;">

  <!--Message from backend-->
  <div class="text-center">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">{{message}}
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
</div>

  <h1>Job form Register</h1>
  <h5 class="mt-3">
    Frontend: FR-22 &nbsp;&nbsp; | Backend: BA-10 &nbsp;&nbsp; | Fullstack: FU-15
  </h5>
  <hr>
  <div class="d-grid gap-2 mt-4">
    <a href="{% url 'register' %}" class="btn btn-primary"> Registration</a>
    <a href="{% url 'backend' %}" class="btn btn-warning"> Login </a>
  </div>
</div>
{% endblock content %}