{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Block Title -->
{% block title %}New Candidate{% endblock title %}

<!--Navbar-->
{% block navbar %} bg-dark {% endblock navbar %}
{% block nav-content %}
<i class="fas fa-user-plus"></i>&nbsp;&nbsp; New Candidate
{% endblock nav-content %}

{% block content %}
<div class="container mt-3" style="width: 95%; font-size: 14px;">
    
    <form method="POST" enctype="multipart/form-data" class="mt-3 " autocomplete="off" novalidate>
        {% csrf_token %}
        <!--Card 1-->
        <div class="card border-dark p-3" >
        <span class="btn btn-secondary mb-4" style="cursor: default;">Personal</span>
        <div class="row">
            <div class="col-4">{{ form.firstname|as_crispy_field }}</div>
            <div class="col-4">{{ form.lastname|as_crispy_field }}</div>
            <div class="col-4">{{ form.job|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-4">{{ form.email|as_crispy_field }}</div>
            <div class="col-4">{{ form.birth|as_crispy_field }}</div>
            <div class="col-4">{{ form.phone|as_crispy_field }}</div>
        </div>
        <hr style="border: 1px solid #007bff;">
        <div class="row">
            <div class="col-4">{{ form.personality|as_crispy_field }}</div>
            <div class="col-4">{{ form.salary|as_crispy_field }}</div>
            <div class="col-2">{{ form.gender|as_crispy_field }}</div>
            <div class="col-2">{{ form.smoker|as_crispy_field }}</div>
        </div>
        {{ form.experience|as_crispy_field }}
        <hr style="border: 1px solid #007bff; margin-top: -15px;">
        {{ form.message|as_crispy_field }}
        <hr style="border: 1px solid #007bff;">
        {{ form.file|as_crispy_field }}
        {{ form.image|as_crispy_field }}
    </div>
    <br>
    <!--Card 2 Skills-->
    <div class="card border-dark p-3">
        <span class="btn btn-secondary mb-4" style="cursor: default;">Your Skills</span>
        <div class="row">
            <div class="col-2">{{ form.frameworks|as_crispy_field }}</div>
            <div class="col-2">{{ form.languages|as_crispy_field }}</div>
            <div class="col-2">{{ form.databases|as_crispy_field }}</div>
            <div class="col-2">{{ form.libraries|as_crispy_field }}</div>
            <div class="col-2">{{ form.mobile|as_crispy_field }}</div>
            <div class="col-2">{{ form.others|as_crispy_field }}</div>
        </div>
        </div>
        <!--Card 3 Edu-->
        <div class="card border-dark p-3">
            <span class="btn btn-secondary mb-4" style="cursor: default;">Education</span>
            <div class="row mt-1">
                <div class="col-4">{{ form.institution|as_crispy_field }}</div>
                <div class="col-4">{{ form.course|as_crispy_field }}</div>
                <div class="col-2">{{ form.started_course|as_crispy_field }}</div>
                <div class="col-2">{{ form.finished_course|as_crispy_field }}</div>
            </div>
            {{ form.about_course|as_crispy_field }}
            <div class="row">
                <div class="col-3">{{ form.status_course|as_crispy_field }}</div>
            </div>
        </div>
        <br>
        <!--Card 4 Profess-->
        <div class="card border-dark p-3">
            <span class="btn btn-secondary mb-4" style="cursor: default;">Professional</span>
            <div class="row mt-1">
                <div class="col-4">{{ form.company|as_crispy_field }}</div>
                <div class="col-4">{{ form.position|as_crispy_field }}</div>
                <div class="col-2">{{ form.started_job|as_crispy_field }}</div>
                <div class="col-2">{{ form.finished_job|as_crispy_field }}</div>
            </div>
            {{ form.about_job|as_crispy_field }}
            <hr style="border: 1px solid #007bff;">
            <div class="row">
                <div class="col-3">{{ form.employed|as_crispy_field }}</div>
                <div class="col-3">{{ form.remote|as_crispy_field }}</div>
                <div class="col-3">{{ form.travel|as_crispy_field }}</div>
            </div>
        </div>
        <!--Buttons-->
        {% block buttons %}
        <button type="submit" class="btn btn-primary mt-3 my-btn">Submit</button>
        <a href="{% url 'register' %}" class="btn btn-dark mt-3 my-btn">Reset</a>
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3 my-btn">Cancel</a>
        {% endblock buttons %}
    </form>

    

</div> <!-- End Container-->

<br><br><br>
{% endblock %}